.venv/
venv/
env/

*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.suo
*.user
*.bak
*.cache
*.log
*.acn
*.acr
*.alg
*.glg
*.gls
*.ist
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk

.vscode/
.idea/
.spyderproject/
.pydevproject/
.project/
.settings/
.metadata/
.classpath/
